body
    {
        background-color: black;
        
    }
    h1, p, h2
    {
       
        text-align: center;
        font-family: 'Didot', serif;
        z-index: 2;
    }
    h1
    {
        font-size: 55px;
        color: rgb(34, 170, 229);
        opacity: 0;
        animation: fadeIn 3s forwards;
        animation-delay: 2s;
    }
    p
    {
        
        font-size: 30px;
        color: rgb(247, 248, 247);
        opacity: 0;
        animation: fadeIn 3s forwards;
        animation-delay: 5s;
    }
    h2
    {
      
        font-size: 100px;
     
        font-style: italic; 
        text-shadow: 0 0 10px white;
        color: rgb(4, 75, 10);
        opacity: 0;
        animation: fadeIn 3s forwards; 
        animation-delay: 8s;
    }
    .star
    {
    
        background-color: white;
        border-radius: 50%;
       box-shadow: 0 0 10px white;
       position: absolute;
       z-index: -1;
       opacity: 0;
       animation: fadeIn 3s forwards;
    }
    .special-star
    {
        width: 18px;
        height: 18px;
        background-color: rgb(252, 250, 202);
        border-radius: 50%;
        position: absolute;
        box-shadow: 0 0 95px rgb(244, 252, 143);
        
        opacity: 0;
       

        
       animation:
        fadeIn 3s 15s forwards,
        twinkle 3s 13s infinite;
    animation-timing-function: ease-in-out;
    }
        
@keyframes twinkle
    {
        0%, 100%
        {
            box-shadow: 0 0 5px rgb(207, 213, 121);
        }
        50%
        {
            box-shadow: 0 0 70px rgb(202, 209, 99);
        }
    }
    
@keyframes fadeIn
    {
        0%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 1;
        }
    }